/* 외부에서 불러오는 것이므로 최상단에 넣어주기 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 속성 */
body{
    position: relative;
    /* 요즘은 아예 검은색보다 회기있는 검은색을 더 많이 쓴다고 함 */
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}

a{
    text-decoration: none;
}

.inner{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

/* btn은 기본적으로 비어있는 칸을 오버해서 채우는 효과 */
.btn{
    width: 130px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}
.btn:hover{
    background-color: #333;
    color: #fff;
}

/* 얘는 차 있는 버튼(따로 만들었을 때)을 비우는 효과 */
/* 한개만 쓰면 - 이게 뭔지 모르니까 -- 두개 써주는 것이다. */
/* _ / -- 이렇게 쓰는 것 */
.btn.btn--reverse{
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover{
    background-color: transparent;
    color: #333;
}
.btn.btn--brown{
    color: #592B18;
    border-color: #592B18;
}
.btn.btn--brown:hover{
    background-color: #592B18;
    color: #fff;
}
.btn.btn--gold{
    color: #d9aa8a;
    border-color: #d9aa8a;
}
.btn.btn--gold:hover{
    background-color: #d9aa8a;
    color: #fff;
}
.btn.btn--pink{
    color: #e54360;
    border-color: #e54360;
}
.btn.btn--pink:hover{
    background-color: #e54360;
    color: #fff;
}
.btn.btn--white{
    color: #fff;
    border-color: #fff;
}
.btn.btn--white:hover{
    background-color: #fff;
    color: #333;
}


.back-to-position{
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-right{
    transform: translateX(-150px);
}
.back-to-position.to-left{
    transform: translateX(150px);
}
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}



/* HEADER */
#top_layout{
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    /* 아래 내용을 통해 드롭메뉴를 body_layout 앞으로 불러올 수 있다. */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
#top_layout > .inner{
    height: 120px;
}
#top_layout .inner .logo{
    height: 75px;
    /* relative 안에서 absolute 통해 위치를 주는 것 */
    position: absolute;
    /* 위치 조정
    이렇게 주면 중앙에 위치하게 된다. */
    top: 0;
    bottom: 0;
    margin: auto;
    /* display: none; */
}
/* util메뉴와 검색메뉴를 한 줄에 위치시키는 것 */
#top_layout .inner .sub_menu{
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
}

/* 순서 유의하기! */
/* ul.util_menu는 띄어쓰지 않는다! ul 중 어디인지 정확히 쓰기 위해서이다. */
#top_layout .inner .sub_menu ul.util_menu{
    display: flex;
}
#top_layout .inner .sub_menu ul.util_menu li::before{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #ddd;
    display: block;
    /* position 으로 글자 사이에 들어가게 넣어줘야 한다. */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

}#top_layout .inner .sub_menu ul.util_menu li:first-child::before{
    display: none;
}
/* li::before의 absolute의 부모가 되는 부분 */
#top_layout .inner .sub_menu ul.util_menu li{
    position: relative;
}
#top_layout .inner .sub_menu ul.util_menu li a{
    /* background-color: aqua; */
    /* 연한 색상으로 바꿔준 것, 꼭 할 필요 없다. */
    color: #999;
    font-size: 12px;
    /* padding은 나와 공백이 다 나고
    margin은 나만 나의 공간이고, 바깥쪽에 공백을 두는 것이다. */
    padding: 10px 15px;
    display: block;
}
/* 연하게 만들었떤 a태그 중 ul.util_menu는 hover시에 이렇게 효과를 줄 것이다. */
#top_layout .inner .sub_menu ul.util_menu li a:hover{
    color: #111;
}


#top_layout .inner .sub_menu .search_bar{
    /* background-color: greenyellow; */
    position: relative;

}
/* 돋보기 버튼 안에 검색창이 있는 모양을 만들 것 */
#top_layout .inner .sub_menu .search_bar input{
    /* 현재 검색을 하지 않는 상태 */
    width: 36px;
    /* 위의 a태그의 사이즈가 12px + padding 상단 10 + 하단 10 = 32 */
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    /* 패딩과 검색입력 칸 모두 자신인 것 */
    box-sizing: border-box;
    outline : none;
    /* outline-color: #999; */
    border-radius: 5px;
    /* 테두리 색깔 */
    background-color: #fff;
    /* fff = 흰색 */
    color: #777;
    /* 클릭 시 움직이는 시간 */
    transition: width 0.4s;
}
#top_layout .inner .sub_menu .search_bar input:focus{
    /* 검색하고자 하는 상태 */
    width: 190px;
    /* 테두리 색깔 변경 */
    border-color: #007042;
}
/* 검색어 입력 시 아이콘 흐리게 만들기 */
#top_layout .inner .sub_menu .search_bar .material-symbols-outlined{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    height: 24px;
    margin: auto;
    transition: opacity 0.4s;
}
#top_layout .inner .sub_menu .search_bar.focused .material-symbols-outlined{
    opacity: 0;
}



#top_layout .inner .main_menu{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
}
#top_layout .inner .main_menu .item .item_name{
    padding: 10px 15px 34px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    font-weight: 200;
}
#top_layout .inner .main_menu .item:hover .item_name{
    background-color: #007042;
    color: #f6f5f0;
    font-weight: bold;
    /* 모서리 둥글리기 */
    /* border-radius: 5px 5px 0 0; */
}
#top_layout .inner .main_menu .item .item_contents{
    width: 100%;
    /* 얘도 홈페이지 가장 왼쪽부터 시작되어야 하기 때문에 fixed로 줘야 한다. */
    position: fixed;
    left: 0;
    /* 약간 생기는 단차가 있음 고정이 되지 않아서 그런 것 같다고 함 찾아주신다고 했음 */
    top: 120px;
    display: none;
}
#top_layout .inner .main_menu .item:hover .item_contents{
    display: block;
}
/* contents_menu */
#top_layout .inner .main_menu .item .item_contents .contents_menu{
    background-color: #007042;
    height: 265px;
}

/* inner가 들어간 ul 태그(드롭메뉴의 큰제목) */
#top_layout .inner .main_menu .item .item_contents .contents_menu > ul{
    display: flex;
    padding: 20px 0;
}

/* 드롭 메뉴 밑의 모든 내용들 */
#top_layout .inner .main_menu .item .item_contents .contents_menu > ul > li{
    width: 220px;
}

/* h4(드롭메뉴의 큰제목)에 대한 속성 */
#top_layout .inner .main_menu .item .item_contents .contents_menu > ul > li h4{
    /* 상 우 좌 하(시계방형) / 상하 좌우
       둘 중 필요한 걸 사용하면 된다. */
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
    /* 400이 기본, 조금 두껍게 하고 싶으면 600 주면 된다. */
    font-weight: 600;
    /* 이것도 원 홈페이지에서는 커서가 들어가지만 우선 주지 않음 */
    /* cursor: pointer; */
}

/* 드롭 메뉴 내의 큰 제목 밑의 상세 내용들 */
#top_layout .inner .main_menu .item .item_contents .contents_menu > ul > li li{
    padding: 5px 0 ;
    font-size: 13px;
    color: #c1c1c1;
    /* cursor : pointer 주면 링크를 주지 않아도 커서 모양이 손가락 모양으로 바뀐다. */
    cursor: pointer;
}

/* 상세내용들 ㅙㅍㄷㄱ */
#top_layout .inner .main_menu .item .item_contents .contents_menu > ul > li li:hover{
    color: yellowgreen;
    text-decoration-line: underline;
    font-weight: 600;
}



/* contents_text */
#top_layout .inner .main_menu .item .item_contents .contents_text{
    /* background-color: cornflowerblue; */
    background-color: #007042;
    /* height: 100px; */
    /* margin주면 위의 메뉴 부분과 떨어지는 경우가 많다. */
    padding: 15px 0;
    background-image: url(../images/main_menu_pattern.jpg);
}

#top_layout .inner .main_menu .item .item_contents .contents_text h4{
    font-size: 14px;
    font-weight: 600;
    color: #a3a3a3;
}

#top_layout .inner .main_menu .item .item_contents .contents_text p{
    font-size: 12px;
    color: #676767;
    margin: 4px 0 12px 0;
}


#top_layout .badges{
    position: absolute;
    right: 15px;
    top: 135px;
}
#top_layout .badge{
    /* 좌우가 눈에 보일만큼 안맞는다면 넣어줘도 되지만, 아니라면 안그래도 된다. */
    text-align: center;
}

#top_layout .badge img{
    border-radius: 10px;
}
/* #007042 - 스타벅스 로고 색상 */
/* height: 5000px; */





/* FOOTER */
#foot_layout{
    background-color: #272727;
    border-top: 1px solid #333;
    
}
#foot_layout .inner{
    padding: 40px 0 60px 0;
    
}
#foot_layout .inner .menu{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

#foot_layout .inner .menu li a{
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    /* padding까지 선택할 수 있게 만드려고 padding으로 준다. */
    padding: 12px;
}
#foot_layout .inner .menu li:first-child a{
    color: #669900;
}
#foot_layout .inner .menu li::before{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    border-radius: 50%;
    /* relation 상위에 넣고 아래 내용 넣어서 같이 써준다.  */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#foot_layout .inner .menu li:first-child::before{
    display: none;
}
#foot_layout .inner .btn-group{
    display: flex;
    /* height값이 다른 요소들을 수평정렬 시킬 기준
    top, center, bottom */
    justify-content: center;
    margin-bottom: 30px;
}

#foot_layout .inner .btn-group .btn{
    font-size: 12px;
    margin-right: 10px;
}
#foot_layout .inner .btn-group .btn:last-child{
    /* none과 0을 쓰는 곳이 다르다.  */
    margin-right: 0;
}
#foot_layout .inner .info{
    text-align: center;
}
#foot_layout .inner .info span{
    font-size: 12px;
    color: #999;
    margin-right: 20px;
}
#foot_layout .inner .info span:last-child{
    margin-right: 0;
}
#foot_layout .inner .copyright{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top:12px ;
}
#foot_layout .inner .logo{
    /* position: absolute;
    left: 0;
    right: 0;
    margin: auto; */
    /* 아래처럼 쓸 수도 있다. */
    display: block;
    margin: 30px  auto 0;
}