

/* VISUAL */
#body_layout{
    /* background-color: cornflowerblue; */
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring_top_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 121px;
    /* position: relative; */
}

#body_layout .inner{
    /* 이미지 높이 값이 646이므로 */
    height: 646px;
    /* background-color: bisque; */
}

#body_layout .title{
    position: absolute;
    top: 88px;
    /* 타이틀을 왼쪽에 바짝붙이려고 써준거라 삐져나간다. */
    left: -10px;
}

#body_layout .title .btn{
    position: absolute;
    top: 259px;
    left: 173px;
}

/* 띄어쓰기o - cup1안의 이미지 클래스
   띄어쓰기x - cup1과 같이 쓰인 이미지 클래스 */
#body_layout .cup1.image{
    position: absolute;
    bottom: 0;
    right: -47px;
}

#body_layout .cup1.text{
    position: absolute;
    top: 38px;
    right: 171px;
}

#body_layout .cup2.image{
    position: absolute;
    bottom: 0;
    right: 162px;
}
#body_layout .cup2.text{
    position: absolute;
    bottom: 321px;
    right: 416px;
}
#body_layout .spoon{
    position: absolute;
    bottom: 0;
    left: 275px;
}

#body_layout .fade-in{
    opacity: 0;
}


/* NOTICE 공지사항 */
#notice{
    position: relative;
}

/* #notice .notice-line{} */

/* 사용되는 부분은 inner안에 있으나 bg는 반으로 나눌 것 */
#notice .notice-line .bg-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}

#notice .notice-line .bg-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}

#notice .notice-line .inner{
    height: 62px;
    /* border: 1px solid red; */
    /* background-color: cadetblue; */
    /* inline-block은 여백이 잇으므로 없는 flex를 통해 둘을 한 줄에 붙여넣어줘야 한다. */
    display: flex;
}

/* left */
#notice .notice-line .inner .inner_left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

/* swiper-container, span, meteral-symbol-outlined는 모두 같은 위치에 있다. */

/* 공지사항 텍스트(span)효과 */
#notice .notice-line .inner .inner_left span{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-right: 20px;
}

/* Swiper(vertical) */
#notice .notice-line .inner .inner_left .swiper-container{
    /* background-color: violet; */
    flex-grow: 1;
    height: 62px;
}
#notice .notice-line .inner .inner_left .swiper-container .swiper-slide{
    height: 62px;
    display: flex;
    align-items: center;
}
#notice .notice-line .inner .inner_left .swiper-container .swiper-slide a{
    color: #fff;
}

#notice .notice-line .inner .inner_left .material-symbols-outlined{
    color: #fff;
    font-size: 30px;
    width: 62px;
    height: 62px;
    display: flex;
    /* 새로 보는 녀석이다.
       수평정렬 - 좌우 위치 */
    justify-content: center;
    /* 수직정렬 - 상하 위치 */
    align-items: center;
}


/* right */
#notice .notice-line .inner .inner_right{
    width: 40%;
    height: 100%;
    background-color: #f6f5ef;
    display: flex;
    align-items: center;
    /* 오른쪽 정렬 시킨다.
       해당 영역의 내용들을 마지막 부분에 보내라(오른쪽에 보내라)
       starg - 왼쪽정렬 // end - 오른쪽 정렬
     */
    justify-content: flex-end;
}
#notice .notice-line .inner .inner_right span{
    font-size: 17px;
    font-weight: 700;
    display: block;
    /* 얘는 margin-left랑 붙지 않게 margin을 줘야 한다. */
    margin-left: 20px;
    /* inner-right의 내용 중 span글자만 원하는 데 위치하게 만들어 주면 된다.
       뭔소리죠?
       (약간 꼼수다)
       해당 태그에서 차지하는 요소를 한 줄에 배치할 때
       사용되지 않는 부분을 머도 사용하겠다는 것
       해당 태그 내에 존재하는 다른 요소를(span, icon 등) 제외하는 부분을 사용할 때 쓰는 태그인 듯
     */
    flex-grow: 1;
    
}
#notice .notice-line .inner .inner_right .toggle-promotion{
    width: 62px;
    height: 62px;
    /* 아이콘이 잡는 공간 안에 들어가면 커서 뜨게 함 */
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    /* 수직정렬 - 상하 위치 */
    align-items: center;
}
#notice .notice-line .inner .inner_right .toggle-promotion .material-symbols-outlined{
    font-size: 30px;
    /* 아이콘인 공간 안에 들어가야만 커서 뜨게 함 */
    cursor: pointer;
}

/* PROM */
.promotion{
    height: 695px;
    /* container의 height값을 조정할것이면  */
    background-color: #f6f5ef;
    position: relative;
    /* height: 572px;
    background-image: url(	https://image.istarbucks.co.kr/upload/common/img/main/2023/2023_spring_promotion_bg.jpg);*/
    /* 보이게 처리 */
    display: block;
    overflow: hidden;
    transition: height 0.5s;
}
/* 안보이게 처리 */
.promotion.hide{
    height: 0;
}

#prom .swiper-container{
    width: calc(819px * 3 + 20px);
    height: 553px;
    /* background-color: #007042; */
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    /* test글자 중앙에 오게 하기 위해 swiper-cibtauber 부분을 -2로 나눠 왼쪽 오른쪽에 위치시킨다. */
    margin-left: calc((819px * 3 + 20px) / -2);
}

#prom .swiper-slide{
    opacity: 0.2;
    position: relative;
    transition: opacity 0.5s;
}
#prom .swiper-slide-active{
    opacity: 1;
}
#prom .swiper-slide .btn{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#prom .promotion .swiper-pagination{
    bottom: 40px;
    left: 0;
    right: 0;

}

/* 스와이퍼 디자인 바꾸기 */
#prom .promotion .swiper-pagination .swiper-pagination-bullet{
    background: none;
    background-image: url(../images/promotion_slide_pager.png);
    background-repeat: no-repeat;
    /* 위의 스와이퍼 아이콘 사이즈가 기존의 것보다 커서 별도로 사이즈를 키우는 것 */
    width: 12px;
    height: 12px;
    /* 붙어있는 아이콘들을 띄워주기 위해 마진 준다. */
    margin-right: 6px;
}
#prom .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0;
}
#prom .promotion .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url(../images/promotion_slide_pager_on.png);
    background-repeat: no-repeat;
}

/* 두가지 속성을 완전히 똑같이 줄 것이라는 말 */
#prom .promotion .swiper-button-prev, 
#prom .promotion .swiper-button-next{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    top: 300px;
    z-index: 1;
}
#prom .promotion .swiper-button-prev{
    left: 50%;
    margin-left: -480px;
}
#prom .promotion .swiper-button-next{
    right: 50%;
    margin-right: -480px;
}
#prom .promotion .swiper-button-prev::after,
#prom .promotion .swiper-button-next::after{
    display: none;
}

#prom .promotion .swiper-button-prev span, 
#prom .promotion .swiper-button-next span{
    color: #333;
    font-weight: 600;
}
#prom .promotion .swiper-button-prev:hover, 
#prom .promotion .swiper-button-next:hover{
    background-color: #333;
}

#prom .promotion .swiper-button-prev:hover span, 
#prom .promotion .swiper-button-next:hover span{
    color: white;
    transition: 0.5s;
}


/* REWARDS */
#rewards{
    background-color: antiquewhite;
    position: relative;
}

#rewards .rw-bgleft{
    background-color: #272727;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}
#rewards .rw-bgright{
    background-color: #d5c798;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

#rewards .inner{
    background-image: url(../images/rewards.jpg);
    /* 이미지의 높이 */
    height: 241px;
}

#rewards .inner .btn-group{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    /* positon줘야 right등의 값이 적용된다. */
    position: absolute;
    right: 0;
    bottom: 24px;
}

#rewards .inner .btn-group .sign_up{
    margin-right: 10px;
}
#rewards .inner .btn-group .sign-in{
    width: 110px;
}
#rewards .inner .btn-group .e-gift{
    margin-top: 10px;
    width: 250px;
}



/* YOUTUBE VIDEO */
#youtube{
    position: relative;
    height: 700px;
    /* background-color: rosybrown; */
    overflow: hidden;
}
#youtube .youtube_area{
    width: 1920px;
    /* background-color: orange; */
    position: absolute;
    /* 이 밑의 네 가지만 알면 자동으로 중심이 잡힌다.  */
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    /* '1920px * 9 / 16 = 1080' 이므로 이 값의 반만큼을 위해 '/ -2' 하는 것이다. */
    /* 화면비는 1920*1080 화면비이므로  */
    margin-top: calc(1920px * 9 / 16 / -2);
}
#youtube .youtube_area::before{
    /* before는 content가 있어야 보인다. */
    content: "";
    display: block;
    width: 100%;
    height: 0;
    /* 이유는 나중에 */
    padding-top: 56.25%;
}
#youtube .youtube_area #player{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;

}
#youtube .youtube_cover{
    background-image: url(../images/video_cover_pattern.png);
    /* rgb(red, green, blue, opacity */
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#youtube .inner{
    height: 700px;
    /* background-color: royalblue; */
}
/* floating123위치는 임의로 잡아준 것 */
#youtube .inner .floating1{
    position: absolute;
    top: 50px;
    left: 0;
    width: 220px;
}
#youtube .inner .floating2{
    position: absolute;
    top: 350px;
    left: 150px;
    width: 270px;
}
#season-product .inner .floating3{
    /* 위에 overflow:hidden을 써놔서 잘려서 보이는 것 */
    position: absolute;
    top: -100px;
    right: 0;
    width: 150px;
}


/* SEASON PRODUCT */
#season-product{
    background-image: url(../images/2023_spring_promotion_bg.jpg);
}
#season-product .inner{
    height: 400px;
}
/* #season-product .inner .product_img{} */
#season-product .inner .text-group{
    position: absolute;
    width: 370px;
    top: 110px;
    right: 100px;
}
#season-product .inner .text-group .text-top{
    margin-bottom: 10px;
}

#season-product .inner .text-group .title{
    color: #ed7e91;
    font-size: 20px;
    font-weight: 700;
}
#season-product .inner .text-group .title b{
    font-size: 28px;
    color: #e54360;
    font-weight: 800;
    display: block;
}
#season-product .inner .text-group .text-bottom{
    margin-bottom: 15px;
}
#season-product .inner .text-group .description{
    color: #ed7e91;
    font-size: 17px;
}

/* RESERVE COFFEE */
#reserve-coffee{
    background-image: url(../images/reserve_bg.jpg);
}
#reserve-coffee .inner{
    height: 400px;
}
#reserve-coffee .inner .reserve_logo{
    position: absolute;
    top: 110px;
    left: 0;
}
#reserve-coffee .inner .text-group{
    position: absolute;
    top: 124px;
    left: 208px;
}
/* #reserve-coffee .inner .text-group .description{} */
#reserve-coffee .inner .reserve-product{
    position: absolute;
    top: 0;
    right: 0;
}


/* PICK YOUR FAVORITE */
#pick-your-favorite{
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2023/230221_1_pc_pick_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* 이미지 고정시키기 */
    background-attachment: fixed;
    /* 이미지를 확대하던 축소하던 화면 가로를 다 맞춰달라 */
    background-size: cover;
}
#pick-your-favorite .inner{
    padding: 110px 0;
}
#pick-your-favorite .inner .text-group{
    /* background-color: orange; */
    width: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#pick-your-favorite .inner .text-group .title{
    margin-bottom: 40px;
}
#pick-your-favorite .inner .text-group .description{
    margin-bottom: 40px;
}


/* RESERVE STORE */
#reserve-store{
    background-image: url(../images/221214_reserve_store_top_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#reserve-store .inner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#reserve-store .inner .medal{
    width: 334px;
    height: 334px;
    /* 3d효과가 들어간다 */
    perspective: 600px;
}
#reserve-store .inner .medal .front, 
#reserve-store .inner .medal .back{
    width: 334px;
    height: 334px;
    /* 메달 앞뒤면 뒤로 가면 안보이게 처리 */
    backface-visibility: hidden;
    transition: 0.7s;
}
#reserve-store .inner .medal .front{
    position: absolute;
    transform: rotateY(0deg);
}
#reserve-store .inner .medal .back{
    position: absolute;
    transform: rotateY(-180deg);
}
#reserve-store .inner .medal:hover .front{
    /* 180deg는 왼쪽방향으로 돌고, -180deg는 오른쪽 방향으로 돈다. */
    transform: rotateY(180deg);
}
#reserve-store .inner .medal:hover .back{
    transform: rotateY(0deg);
}
#reserve-store .inner .medal .back .btn{
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
}


/* FIND THE STORE */
#find-store{
    background-image: url(../images/find_store_bg.jpg);
}
#find-store .inner{
    height: 400px;
}
#find-store .inner .texture1{
    position: absolute;
    top: 0;
    left: 400px;
}
#find-store .inner .texture2{
    position: absolute;
    bottom: 0;
    right: 0;
}
#find-store .inner .picture{
    position: absolute;
    border-radius: 50%;
    /* box-shadow : x축(얼마나 이동시킬건지)  y축(얼마나 이동시킬건지)  블러효과(얼마나 퍼뜨릴건지)  색상
       (1, 2는 어디까지 이동, 3, 4는 효과를 얼마나 진하게 줄 것인지
       , 쓰면 안된다!!!*/
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.5);
}
#find-store .inner .picture.picture1{
    top: -60px;
    left: 0;
}
#find-store .inner .picture.picture2{
    top: 150px;
    left: 250px;

}
#find-store .inner .text-group{
    position: absolute;
    top: 120px;
    left: 550px;
}
#find-store .inner .text-group .title{
    margin-bottom: 20px;
}
#find-store .inner .text-group .description{
    margin-bottom: 20px;
}


/* SLIDING BANNER */
#awards{
    background-color: #272727;
}
#awards .inner{
    padding: 40px 0;
}
#awards .inner .swiper-container{
    width: 100%;
    height: 40px;
}
#awards .swiper-button-prev,
#awards .swiper-button-next{
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.3;
    transition: 1s;
}
#awards .swiper-button-prev:hover,
#awards .swiper-button-next:hover{
    background-color: white;
    color: #272727;
}
#awards .swiper-button-prev{
    left: -100px;
}
#awards .swiper-button-next{
    right: -100px;
}
#awards .swiper-button-prev::after,
#awards .swiper-button-next::after{
    display: none;
}





/* TO TOP */
#to-top{
    width: 42px;
    height: 42px;
    color: white;
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    /* 새로 보는 녀석이다.
       수평정렬 - 좌우 위치 */
    justify-content: center;
    /* 수직정렬 - 상하 위치 */
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}