.signin{
    margin-top: 120px;
    padding: 100px 0 150px 0;
    background-image: url('../images/signin_bg.jpg'); /* signin.bg 대신 공식 이미지 */
    /* https://www.starbucks.co.kr/common/img/util/mem/login_bg.jpg */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.signin h1{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

/* 하나 영역만 중앙에 오면 되는 것이므로 margin auto로 중앙에 준다. */
.signin .signin_card{
    width: 500px;
    background-color: #f6f5f0;
    margin: auto;
    border-radius: 5px;
    /* signin_card 아레의 모든 내용에 상속한다. */
    color: #555;
    /* rgba의 a는 alpha값이다. */
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.signin .signin_card h2{
    text-align: center;
    font-size: 18px;
    padding: 30px 0;
    /* 아래에만 선을 줄 것이므로 */
    border-bottom: 1px solid #ddd;
}
.signin .signin_card h2 span{
    color: #007042;
}

.signin .signin_card form{
    padding: 15px 20px;
}

.signin .signin_card input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.signin .signin_card input[type="submit"]{
    background-color: #007042;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.signin .signin_card p{
    font-size: 12px;
    color: #007042;
    text-align: center;
}

.signin .signin_card .action{
    display: flex;
    border-top: 1px solid #ddd;
}
.signin .signin_card .action a{
    /* 1씩 비율 잡아주는 것 */
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;
    color: #555;
    font-size: 14px;
    position: relative;
}
/* 대시보드 만들기? */

.signin .signin_card .action a::before{
    content: "";
    width: 1px;
    height: 14px;
    background-color: #ddd;
    
    display: block;
    /* relation 상위에 넣고 아래 내용 넣어서 같이 써준다.  */
    position: absolute;
}
.signin .signin_card a:first-child::before{
    display: none;
}
.signin .signin_card a:hover{
    text-decoration: underline;
}